div#page div.utility-bar {
	background-color: #202351;
}
div.wrapper > header h1 {
	color: white;
}
div.wrapper > header {
	background-image: url(goosedale-greenery.jpg);
	background-position-y: -240px;
	background-position-x: -50px;
}

